<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post <%= thisPost.id %></h1>
    <form action="/posts/<%=thisPost.id%>?_method=PATCH" method="post">
        <section>
        <h2>Post By <%=thisPost.author%></h2>
    </section>
    <section>
        <label for="post">Post:</label>
        <textarea name="post" id="post" cols="10" rows="5" >
            <%=thisPost.post%>
        </textarea>
    </section>
    <button>Submit Edit</button>s
    </form>

    <a href="/posts">Back to all posts</a>
</body>
</html>