<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Create a new post</h1>
    <form action="/posts" method="post">
        <section>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" placeholder="name"/>
    </section>
    <section>
        <label for="post">Post:</label>
        <textarea name="post" id="post" cols="10" rows="5"></textarea>
    </section>
    <button>Submit</button>
    </form>

    <a href="/posts">Back to all posts</a>
</body>
</html>