<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h1> Edit Your Comment</h1>

<section>
    <form method="post" action="/comments/<%=comment.id%>?_method=PATCH">
<label for="comment">Edit Comment:</label>
<textarea name="comment" id="comment" cols="15" rows="5">
    <%= comment.comment %>
</textarea>
<button>Submit</button>
</form>
</section>
</body>
</html>