<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Farms</title>
</head>
<body>
    <h1>Here is a list of Farms:</h1>
    <ul>
        <% for(let farm of farms) { %>
            <li>
                <a href="/farms/<%=farm._id%>"><%=farm.name%></a>
            </li>
       <% } %>
    </ul>
   <a href="/farms/new">Add A Farm</a>
</body>
</html>