
<%- include('partials/head') %>


    <%- include('partials/navbar')%>
    <h1>Homepage</h1>
    <p> <%= 'hello world'.toUpperCase() %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam totam nihil perferendis deleniti iure mollitia, quis eaque, eveniet fugit facere rem iste porro numquam tenetur ipsum soluta quidem eum. Illum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nemo facilis necessitatibus nam, rerum modi autem consequatur nobis nostrum nisi tempore quis molestiae obcaecati pariatur ad rem et esse eligendi?</p>
    <%- include('partials/footer') %>