
<%- include('partials/head') %>


    <%- include('partials/navbar')%>
    <h1>Your Random Number is: <%= rand %></h1>
    <% if(rand %2 === 0) { %>
        <h2>That is an even Number</h2> 
  <%  } else {%>
    <h2>That is an odd Number</h2> 
    <% } %>
    <%- include('partials/footer') %>